<head>

    <link href="dashboard.css" rel="stylesheet">

</head>

<body>

<iframe name="placeholder" value="none" style="display: none"></iframe>

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0">{{Username}}</a>
    <a class="nav-link col-sm-2 col-md-2 mr-0" href="{{BotInvite}}" style="color: white">Invite Bot</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="welcome">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="overview">
                            Overview
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="staff">
                            Staff
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            Channels
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Roles
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="custom">
                            Custom
                        </a>
                    </li>
                </ul>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
                <hr>
                <br>
            </div>
            <div class="container-fluid">
                <h6>Override channel</h6>
                <form method="POST" class="form" action="/updateChannels" target="placeholder">
                    <div class="d-flex justify-content-center">
                        <select class="select" name="channelid" onchange="setChannel(this.value)">
                            <option value="none">None</option>
                            {{#each chan}}
                                <option value="{{this.id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <br>
                    <div class="container-fluid">
                        <h5>Welcome channel</h5><br>
                        Welcome channel: <input type="checkbox" value="SetAnnouncement" name="Wel" id="welcome">
                        <p></p><br>
                        Ticket channel: <input type="checkbox" value="SetTicket" name="Tick" id="ticket">
                        <p></p>
                    </div>
                    <br>
                    <div class="container">
                        <h5>Channel settings</h5><br>
                        Channel name: <input type="text" value="None" name="channelName" id="channelName"><br><br>
                        Channel category:
                        <select name="Topic" id="topic">
                            <option value="None">None</option>
                            <option value="isImage">Image only</option>
                            <option value="isUser">User only</option>
                            <option value="isBot">Bot only</option>
                        </select>
                    </div>
                    <br>
                    <input type="submit" class="btn btn-primary" value="Update">
                </form>
            </div>
            <br>
            <hr>
            <div class="container-fluid">
                <h6>Categories settings</h6>
                <form method="POST" class="form" action="/updateCategories" target="placeholder">
                    <div class="d-flex justify-content-center">
                        <select name="cats" onchange="setCategory(this.value)">
                            <option value="None">None</option>
                            {{#each category}}
                                <option value="{{this.id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <br>
                    <div class="container">
                        Ticket category: <input type="checkbox" name="ticket" id="CategoryTicket"><br>
                        Maintenance category: <input type="checkbox" name="main" id="CategoryMain">
                    </div>
                    <br>
                    <input type="submit" value="Update" class="btn btn-primary">
                </form>
            </div>
            <br>
            <hr>
            <div class="container-fluid">
                <h6>Create channel</h6>
                <form method="POST" class="form" action="/createChannel" target="placeholder">
                    <div class="d-flex justify-content-center">
                        <select name="catId">
                            <option value="None">None</option>
                            {{#each category}}
                                <option value="{{this.id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <br>
                    <div class="container">
                        <input type="text" placeholder="channel name" name="channelName">
                    </div>
                    <br>
                    <input type="submit" value="Create" class="btn btn-primary">
                </form>
            </div>
            <br>
            <hr>
            <div class="container-fluid">
                <h6>Custom</h6>
                <form method="POST" class="form" action="/sendMessage" target="placeholder">
                    <div class="d-flex justify-content-center">
                        <select class="select" name="channelid">
                            <option value="None">None</option>
                            {{#each chan}}
                                <option value="{{this.id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <br>
                    <div class="container">
                        Enter message: <input type="text" placeholder="Enter message" name="msg">
                    </div>
                    <br>
                    <input type="submit" value="Send" class="btn btn-primary">
                </form>
            </div>
            <br>
            <hr>
        </main>
    </div>
</div>

<script>

    var guildSettings = JSON.parse(decodeURI("{{ChannelSettings}}"));
    var categorySettings = JSON.parse(decodeURI("{{CategorySettings}}"));

    var setChannel = function (id) {

        if (id === "none") return;

        var obj = guildSettings[id];

        $('#welcome').attr('checked', obj.isWelcome);
        $('#ticket').attr('checked', obj.isTicketLog);

        var Type = obj.imageOnly ? "isImage" : obj.botOnly ? "isBot" : obj.userOnly ? "isUser" : "None";

        document.getElementById('channelName').setAttribute('value', obj.name);
        var sel = document.getElementById('topic');
        for (var opt, i = 0; opt = sel.options[i]; i++) {

            if (opt.value == Type) {

                sel.selectedIndex = i;

                break;

            }

        }

    };

    var setCategory = function (id) {

        if (id === "None") return;

        var obj = categorySettings[id];

        $('#CategoryTicket').attr('checked', obj.isTicket);
        $('#CategoryMain').attr('checked', obj.isMain);

    }

</script>

</body>