<head>

    <link href="dashboard.css" rel="stylesheet">

</head>

<body>

<iframe name="placeholder" style="display: none"></iframe>

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0">{{Username}}</a>
    <a class="nav-link col-sm-2 col-md-2 mr-0" href="{{BotInvite}}" style="color: white">Invite Bot</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="welcome">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid" id="MainTable">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            Overview
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="staff">
                            Staff
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="channels">
                            Channels
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Roles
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="custom">
                            Custom
                        </a>
                    </li>
                </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
            </div>
            <div class="container">
                <form method="POST" class="form" action="/setGuild" target="placeholder">
                    <div class="d-flex justify-content-center">
                        <select name="selectedGuild" style="align-content: center" onchange="selectGuild(this.value)">
                            <option value="None">None</option>
                            {{#each Guild}}
                                <option value="{{this.id}}">{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <br>
                    <input type="submit" value="Set" class="btn btn-primary" id="setGuild" disabled>
                </form>
                <hr>
                <br>
            </div>
            <div class="container">
                <h3 id="guildName">{{guildName}}</h3>
                <hr>
                <br>
                <div class="container">
                    <p id="Members">{{guildMembers}}</p><br>
                    <p id="Roles">{{guildRoles}}</p><br>
                    <p id="Channels">{{guildChannels}}</p><br>
                </div>
            </div>
        </main>
    </div>
    <div class="InviteRanks">
        {{#each Invite}}
            <p id="{{this.id}}">{{this.message}}</p>
        {{/each}}
    </div>
</div>

<script>

    var Guilds = JSON.parse(decodeURI("{{GuildOptions}}"));

    var selectGuild = function (id) {

        if (id === "None") {

            document.getElementById('guildName').textContent = "No guild specified";
            document.getElementById('Members').textContent = "No guild specified";
            document.getElementById('Roles').textContent = "No guild specified";
            document.getElementById('Channels').textContent = "No guild specified";

            $('#setGuild').attr("disabled", true);

        } else {

            document.getElementById('guildName').textContent = Guilds[id].name;
            document.getElementById('Members').textContent = "Members: " + Guilds[id].members.toString();
            document.getElementById('Roles').textContent = "Roles: " + Guilds[id].roles.toString();
            document.getElementById('Channels').textContent = "Channels: " + Guilds[id].channels.toString();

            $('#setGuild').attr("disabled", false);

        }

    }

</script>

</body>